.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

button{
    margin: 1em;
}

#add, #reset{
    padding: 0.7em 0.5em;
    width: 15em;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

#add{
    background-color: rgb(113, 69, 151);
    color: white;
}

#add:hover{
    background-color: rgb(86, 36, 131);; 
}

#reset{
    background-color: rgb(201, 201, 201);
    color: black;
}

#reset:hover{
    background-color: rgb(169, 169, 169);
}